.mat-column-number {
    max-width: 100px;
    justify-content:center;
}

.mat-column-name {
    max-width: 250px;
    justify-content:center;
}

.mat-column-url {
    max-width: 450px;
    justify-content:center;
}

.mat-column-editBtn {
    max-width: 200px;
    justify-content:center;
}

.mat-column-addSubBtn {
    max-width: 200px;
    justify-content:center;
}

.mat-column-queuesBtn {
    max-width: 200px;
    justify-content:center;
}

.mat-column-deleteBtn {
    max-width: 200px;
    justify-content:center;
}

mat-cell {
  font-family: '微軟正黑體';
}

mat-header-cell {
    display:flex;
    justify-content:center;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    font-family: '微軟正黑體';
}