<div class="row  border-bottom white-bg dashboard-header"></div>
<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content">
      <div class="row">
        <div class="ibox-content">
            <mat-table #table [dataSource]="matrixUserDataSource">
                <ng-container matColumnDef="number">
                    <mat-header-cell *matHeaderCellDef [translate]="'public.number'"></mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index">{{i + 1}}</mat-cell>
                </ng-container>
                <!-- <ng-container matColumnDef="afName">
                    <mat-header-cell *matHeaderCellDef [translate]="'access.name'"></mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.afName }}</mat-cell>
                </ng-container> -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef [translate]="'access.matrixaccount'"></mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="changePasswordBtn">
                    <mat-header-cell *matHeaderCellDef [translate]="'access.changePassword'"></mat-header-cell>
                    <mat-cell *matCellDef="let row"><button class="btn btn-default" (click)="openChangePasswordModal(row)"><i class="fa fa-cog">&nbsp;&nbsp;<span [translate]="'access.changePassword'"></span></i></button></mat-cell>
                </ng-container>
                <ng-container matColumnDef="disableBtn">
                    <mat-header-cell *matHeaderCellDef [translate]="'access.disabled'"></mat-header-cell>
                    <mat-cell *matCellDef="let row"><button class="btn btn-danger" (click)="opneDeactivateAccountModal(row)"><i class="fa fa-trash-o">&nbsp;&nbsp;<span [translate]="'access.disabled'"></span></i></button></mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef=displayedColumns></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getUser(row)" [ngStyle]="{'background-color': selectedRowIndex == row.name ? '#F0F0F0' : ''}"></mat-row>
            </mat-table>
            <mat-paginator [length]="resultsLength" [pageSize]="pageSize" (page)="onPageChanged($event)">
            </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>