mat-cell {
    font-family: '微軟正黑體';
}
  
mat-header-cell {
    display:flex;
    justify-content:center;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    font-family: '微軟正黑體';
}

.mat-column-number {
    max-width: 150px;
    justify-content:center;
}

/* .mat-column-afName {
    max-width: 400px;
    justify-content:center;
} */

.mat-column-name {
    max-width: 750px;
    justify-content:center;
}

.mat-column-changePasswordBtn {
    max-width: 350px;
    justify-content:center;
}

.mat-column-disableBtn {
    max-width: 350px;
    justify-content:center;
}
