.input-full-width {
    width:340px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 200;
}

#border {
    padding-bottom: 25px
}

/* .mat-form-field-underline.mat-disabled {
    background-color: transparent !important;
} 

.mat-focused .mat-form-field-label {
    color: #1ab394 !important;
} 
    
.mat-form-field-underline, .mat-form-field-ripple {
    background-color: #1ab394 !important;
} */