<div class="row  border-bottom white-bg dashboard-header">
    <div class="row">
        <div class="col-lg-6">
            <button class="btn btn-default" (click)="openOrgSettingModal()"><i class="fa fa-cog">&nbsp;&nbsp;<span [translate]="'tabs.edit'"></span></i></button>
        </div>
        <div class="col-lg-6"></div>
    </div>
</div>
<!-- <ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1"
             [speed]="200" [showSpinner]="false" [direction]="'leftToRightIncreased'"
             [color]="'#1ab394'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"
></ng-progress>-->
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 [translate]="'organization.tree'"></h5>
                        </div>
                        <div class="ibox-content">
                            <tree-root [nodes]="nodes" #tree [options]="options" [focused]="true" (updateData)="onUpdateData($event)" (focus)="onEvent($event)">
                                <ng-template #treeNodeTemplate let-node let-index="index">
                                    <i *ngIf="node.data.iconType===0" class="fa fa-suitcase">&nbsp;&nbsp;{{node.data.name}}</i>
                                    <i *ngIf="node.data.iconType===1" class="fa fa-users">&nbsp;&nbsp;{{node.data.name}}</i>
                                </ng-template>
                            </tree-root>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <mat-tab-group class="ibox-title">
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon>inbox</mat-icon>
                                <h5 [translate]="'organization.people'"></h5>
                            </ng-template>
                                <div class="ibox-content">
                                    <mat-table #table [dataSource]="memberDataSource">
                                        <ng-container matColumnDef="number">
                                            <mat-header-cell *matHeaderCellDef [translate]="'public.number'"></mat-header-cell>
                                            <mat-cell *matCellDef="let row; let i = index">{{i + 1}}</mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="name">
                                            <mat-header-cell *matHeaderCellDef [translate]="'organization.name'"></mat-header-cell>
                                            <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="jobTitle">
                                            <mat-header-cell *matHeaderCellDef [translate]="'organization.jobTitle'"></mat-header-cell>
                                            <mat-cell *matCellDef="let row">{{row.mainRole}}</mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="phone">
                                            <mat-header-cell *matHeaderCellDef [translate]="'organization.phone'"></mat-header-cell>
                                            <mat-cell *matCellDef="let row">{{row.phone}}</mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="email">
                                            <mat-header-cell *matHeaderCellDef [translate]="'organization.email'"></mat-header-cell>
                                            <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef=displayedColumns></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                    </mat-table>
                                    <mat-paginator [length]="resultsLength" [pageSize]="pageSize" (page)="onPageChanged($event)">
                                    </mat-paginator>
                                </div>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon>settings</mat-icon>
                                <h5 [translate]="'organization.change'"></h5>
                            </ng-template>
                            施工中....
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>